venv/
venv2/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.env.*
.venv
pip-log.txt
pip-delete-this-directory.txt
.coverage
.pytest_cache/
.DS_Store
*.log
node_modules/
.npm
.eslintcache
build/
dist/
*.tgz
*.tar.gz
checkpoints/
update_bed_notes.py 